# WeatherBrief Web Server Configuration

# environment run as prod or development
ENVIRONMENT=development

AUTOROUTER_USERNAME=
AUTOROUTER_PASSWORD=

WORKING_DIR=/path/to/working/directory
AIRPORTS_DB=${WORKING_DIR}/airports.db

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=

CREDENTIAL_ENCRYPTION_KEY=

# Keys
OPENAI_API_KEY=

ANTHROPIC_API_KEY=

# Optional OPENAI_API_KEY, if not set, it will use the free tier with limited capabilities and rate limits.
#OPENMETEO_API_KEY=


LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=WeatherBrief
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
